@import "assets/styles/variables";

.item {
    display: grid;
    grid-template-columns: 180px 200px 150px 100px 200px 1fr;
    align-items: center;
    gap: 20px;

    padding: 10px 20px;
    margin-bottom: 4px;

    border-radius: 4px;
    background: #131d31;

    color: #fff;
    font-weight: 500;
    letter-spacing: 0.8px;

    &:last-child {
        margin-bottom: 0;
    }
}

.name {
    display: flex;
    align-items: center;
    gap: 12px;
}
.key {
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
}
